@media only screen and (max-width: 500px) {

    body {
        width: 460px;

        .wrapper {
            #rock {
                width: 125px;
                height: 125px;
            }
            #paper {
                width: 125px;
                height: 125px;
            }
            #scissors {
                width: 125px;
                height: 125px;
            }
            #lizard {
                width: 125px;
                height: 125px;
            }
            #spock {
                width: 125px;
                height: 125px;
            }

            
        }
    }


}

body {
    background: url('../images/gridPeace.png');
    background-repeat: repeat-y;
    background-size: cover;
    z-index: -99;
    font-family: 'Poppins', sans-serif;
    padding: 1rem 2rem;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;


    .title {
        display: flex;
        list-style: none;
        flex-direction: column;
        text-align: right;
        font-size: 2.5rem;
        font-weight: 900;

        .block {
            color: white;

            &::before {
                content: "";
                position: absolute;
                width: 175px;
                height: 60px;
                z-index: -1;
                background: rgb(0, 0, 0);
                margin-left: -2rem;

            }
        }
    }

    .home-select {
        color: white;
        display: flex;
        justify-content: space-evenly;

        .col-6 {
            background: black;
            width: fit-content;
            border-radius: 40px;
            padding: 1rem 2rem;
            margin: 1rem 1em;
            cursor: pointer;

            &:hover {
                color: rgb(33, 33, 33);
                background: #FFDC84;
            }
        }


    }

    .rounds {
        color: white;
        background: #8FB7DC;
        width: fit-content;
        margin: 0 auto;
        padding: 1rem 5rem;
        border-radius: 10px;
        font-weight: 500;

        div {
            margin: 2rem auto;
            background: black;
            width: 15rem;
            border-radius: 45px;
            padding: 1rem 2rem;
            cursor: pointer;

            &:hover {
                background: #4d4d4d;
            }

        }
    }

    .back {
        background: #FFDC84;
        width: fit-content;
        padding: 1rem 2rem;
        border-radius: 5px;
        margin: 1rem auto;
        font-weight: 600;
        

        &:hover {
            background: #b9a643;
            cursor: pointer;
        }
    }

    .weaponChoice {
        display: none;
        justify-content: space-between;
        margin: 0 auto;

        svg {

            width: 200px;
            height: 200px;
            background: white;
            border-radius: 50%;

            &:hover {
                cursor: pointer;
                background: rgb(255, 161, 249);
                border-radius: 50%;
            }
        }
    }

    .colors {
        display: none;
        justify-content: center;
        font-weight: 600;
        margin-top: 4rem;

        .GameGoBack {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            background: #FFDC84;
            margin-bottom: .5rem;
            border-radius: 5px;
            padding: .5rem 2rem;
            text-align: right;

            &:hover {
                cursor: pointer;
                background: #d4b15a;
            }

            svg {
                padding-right: 0;
                width: fit-content;
            }

        }

        .GameReset {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            background: #FF8484;
            margin-bottom: .5rem;
            border-radius: 5px;
            padding: .5rem 2rem;
            text-align: right;

            &:hover {
                cursor: pointer;
                background: #ff7063;
            }

            svg {
                padding-right: 0;
                width: fit-content;
            }

        }

        .GameHome {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            background: #849FFF;
            border-radius: 5px;
            padding: .5rem 2rem;
            text-align: right;

            &:hover {
                cursor: pointer;
                background: #417add;
            }

            svg {
                padding-right: 0;
                width: fit-content;
            }
        }
    }

    .colors-display {
        display: flex;
    }

    .score-box {
        text-align: center;
        padding: 3.25rem 1rem;
        background: #CFA3F2;
        margin: 0 .5rem;
        border-radius: 5px;
    }
}

.displayWeaponChoice {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    flex-wrap: wrap;

    #rock {
        box-shadow: 3px 2px 5px rgb(148, 148, 148);
        width: 200px;
        height: 200px;
        background: #c83a46;
        border-radius: 100%;
        animation: slideDown .7s ease-in-out forwards;
        opacity: 0;

        path {
            stroke: rgb(255, 255, 255);
        }

        &:hover {
            cursor: pointer;
            background: #353535;
            border-radius: 50%;
        }
    }

    #paper {
        box-shadow: 3px 2px 5px rgb(148, 148, 148);
        width: 200px;
        height: 200px;
        background: #64bb59;
        border-radius: 50%;
        animation: slideDown .7s ease-in-out forwards;
        opacity: 0;

        path {
            stroke: rgb(255, 255, 255);
        }

        &:hover {
            cursor: pointer;
            background:  #353535;
            border-radius: 50%;
        }
    }

    #scissors {
        box-shadow: 3px 2px 5px rgb(148, 148, 148);
        width: 200px;
        height: 200px;
        background: #598dbb;
        border-radius: 50%;
        animation: slideDown .7s ease-in-out forwards;
        opacity: 0;

        path {
            stroke: rgb(255, 255, 255);
        }

        &:hover {
            cursor: pointer;
            background:  #353535;
            border-radius: 50%;
        }
    }

    #lizard {
        box-shadow: 3px 2px 5px rgb(148, 148, 148);
        width: 200px;
        height: 200px;
        background: #cd9546;
        border-radius: 50%;
        animation: slideDown .7s ease-in-out forwards;
        opacity: 0;

        path {
            stroke: rgb(255, 255, 255);
        }

        &:hover {
            cursor: pointer;
            background:  #353535;
            border-radius: 50%;
        }
    }

    #spock {
        box-shadow: 3px 2px 5px rgb(148, 148, 148);
        width: 200px;
        height: 200px;
        background: #ae59bb;
        border-radius: 50%;
        animation: slideDown .7s ease-in-out forwards;
        opacity: 0;

        path {
            stroke: rgb(255, 255, 255);
        }

        &:hover {
            cursor: pointer;
            background:  #353535;
            border-radius: 50%;
        }
    }


}

.message {
    position: absolute;
    text-align: center;
    background: rgba(0, 0, 0, 0.946);
    color: white;
    font-size: 2rem;
    font-weight: 500;
    //width: fit-content;
    margin: 0 auto;
    padding: 1rem 2rem;
    border-radius: 5px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    //transform: translateY(15rem);
    animation: fadeIn 1.5s;
}

.displayMessage {
    display: block;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-600px)
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.disabled {
    pointer-events: none;
}

.animation-reset {
    animation: none;
}