
body {
    background: url('../images/gridPeace.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -99;
    font-family: 'Poppins', sans-serif;
    padding: 1rem 2rem;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    

    .title {
        display: flex;
        list-style: none;
        flex-direction: column;
        text-align: right;
        font-size: 2.5rem;
        font-weight: 900;

        .block {
            color: white;
            
            &::before {
                content: "";
                position: absolute;
                width: 175px;
                height: 60px;
                z-index: -1;
                background: rgb(0, 0, 0);
                margin-left: -2rem;
                
            }
        }
    }

    .home-select {
        color: white;
        display: flex;
        justify-content: space-evenly;

        .col-6 {
            background: black;
            width: fit-content;
            border-radius: 40px;
            padding: 1rem 2rem;
            cursor: pointer;

            &:hover {
                color: rgb(33, 33, 33);
                background: #FFDC84;
            }
        }

        
    }

    .rounds {
        color: white;
        background: #8FB7DC;
        width: fit-content;
        margin: 0 auto;
        padding: 1rem 5rem;
        border-radius: 10px;

        div {
        margin: 2rem auto;
        background: black;
        width: 15rem;
        border-radius: 45px;
        padding: 1rem 2rem;
        cursor: pointer;

        &:hover {
            background: #4d4d4d;
        }

        }
    }

    .back {
        background: #FFDC84;
        width: fit-content;
        padding: 1rem 2rem;
        border-radius: 5px;
        margin: 1rem auto;
        font-weight: 500;

        &:hover {
            background: #b9a643;
            cursor: pointer;
        }
    }

    .choice {
        display: none;
        justify-content: space-between;
        margin: 0 auto;

        svg {
            
            width: 200px;
            height: 200px;
            background: white;
            border-radius: 50%;

            &:hover {
                cursor: pointer;
                background: rgb(255, 161, 249);
                border-radius: 50%;
            }
        }
    }

    .colors {
        display: none;
        justify-content: center;
        font-weight: 600;
        margin-top: 4rem;
        
        .GoBack {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            background: #FFDC84;
            margin-bottom: .5rem;
            border-radius: 5px;
            padding: .5rem 2rem;
            text-align: right;

            svg {
                padding-right: 0;
                width: fit-content;
            }

        }
        .Reset {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            background: #FF8484;
            margin-bottom: .5rem;
            border-radius: 5px;
            padding: .5rem 2rem;
            text-align: right;

            svg {
                padding-right: 0;
                width: fit-content;
            }

        }
        .Home{
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            background: #849FFF;
            border-radius: 5px;
            padding: .5rem 2rem;
            text-align: right;

            svg {
                padding-right: 0;
                width: fit-content;
            }
        }
    }

    .colors-display {
        display: flex;
    }

    .score-box {
        text-align: center;
        padding: 3.25rem 1rem;
        background: #CFA3F2;
        margin: 0 1rem;
        border-radius: 5px;
    }
}

.choice-one {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

        svg {
            box-shadow: 3px 2px 5px rgb(148, 148, 148);
            width: 200px;
            height: 200px;
            background: white;
            border-radius: 50%;

            &:hover {
                cursor: pointer;
                background: rgb(255, 161, 249);
                border-radius: 50%;
            }
        }

    
}





